@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,cyrillic);
body {
  margin:0;
  padding:0;
  font-family:'Exo 2';
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display:block; }
h1, h2, h3, h4 {
  font-weight:700;
  color:#333333;
}
ol, ul {
  list-style:none;
  margin:0;
  padding:0;
}
a { text-decoration:none; }
.clr { clear:both; }
.p-light {
  color:#4e5256;
  font-weight:300;
  font-size:15px;
  line-height:22px;
  margin:0;
}
.p-light b {
  font-weight:700;
  color:#333;
}
.p-light-s {
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
}
.p-light-s b {
  font-weight:700;
  color:#333;
}
.h2-title {
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
}
#header, #main-banner, #catalog, .questions-block {
  width:1400px;
  margin:0 auto;
  position:relative;
}
#header {
  height:135px;
  overflow:hidden;
}
#header .logo {
  display:block;
  float:left;
  margin:39px 0 0;
}
#header .header-info {
  float:right;
  margin-top:14px;
}
#header .header-info > div {
  float:left;
  min-height:80px;
  font-weight:300;
  font-size:14px;
  color:#4e5256;
  line-height:18px;
}
#header .header-info > div span {
  font-weight:700;
  color:#191818;
}
#header .header-info > div a {
  color:#3274c3;
  border-bottom:1px dotted #3274c3;
}
#header .header-info .header-guarantee {
  margin:20px 160px 0 0;
  padding-left:60px;
  background:url("../images/header_sprite.png") no-repeat 0 0;
}
#header .header-info .header-manufacturer {
  margin:20px 180px 0 0;
  padding-left:75px;
  background:url("../images/header_sprite.png") no-repeat 0 -100px;
}
#header .header-info .header-phone {
  margin:20px 0 0;
  padding-left:70px;
  background:url("../images/header_sprite.png") no-repeat 0 -200px;
}
#header .header-info .header-phone span { font-size:25px; }
#main-banner .banner-wrap {
  width:1130px;
  float:left;
  position:relative;
}
#main-banner .banner-wrap img {
  width:100%;
  height:auto;
  display:block;
}
#main-banner .banner-wrap .banner-info {
  position:absolute;
  top:145px;
  left:6.5%;
  font-size:42px;
  line-height:55px;
  color:#333333;
  font-weight:normal;
}
#main-banner .banner-wrap .banner-info span { font-weight:700; }
#main-banner .banner-wrap .banner-info .banner-button {
  display:block;
  height:63px;
  line-height:63px;
  margin-top:35px;
  padding:0 0 0 24px;
  font-size:22px;
  font-weight:500;
  color:#ffffff;
  cursor:pointer;
  box-shadow:0 2px 5px -2px #215c70;
  background:linear-gradient(to bottom,#4a8ad7,#3577c7);
}
#main-banner .banner-wrap .banner-info .banner-button i {
  display:inline-block;
  width:53px;
  height:63px;
  float:right;
  margin-left:6px;
  background:url("../images/banner_button_arrow.png") no-repeat center 16px, linear-gradient(to bottom,#4e9ce4,#398bd9);
}
#main-banner .banner-action {
  position:relative;
  width:230px;
  float:left;
  height:666px;
  margin-left:40px;
  background:url("../images/bg_action.jpg") no-repeat center bottom;
}
#main-banner .banner-action .banner-action-icon {
  position:absolute;
  top:-25px;
  right:-24px;
  width:72px;
  height:53px;
  padding:24px 0 0;
  text-align:center;
  color:#ffffff;
  font-size:14px;
  font-weight:700;
  text-transform:uppercase;
  background:url("../images/bg_action_icon.png") no-repeat;
}
#main-banner .banner-action .banner-action-date {
  margin:35px 0 28px;
  text-align:center;
  font-size:18px;
  font-weight:700;
  letter-spacing:1.5px;
  color:#333333;
  line-height:24px;
  text-transform:uppercase;
}
#main-banner .banner-action .banner-action-date span {
  font-size:28px;
  color:#ec4444;
  line-height:30px;
}
#main-banner .banner-action > span {
  display:block;
  font-size:18px;
  text-align:center;
  color:#333333;
  padding:32px 0 0;
  line-height:18px;
  margin-bottom:23px;
  background:url("../images/action_sprite.png") no-repeat center 0;
}
#main-banner .banner-action .banner-action-design { background-position:center -58px; }
#main-banner .banner-action .banner-action-delivery { background-position:center -115px; }
#main-banner .banner-action .banner-action-install { background-position:center -170px; }
.title-catalog h2 {
  margin:80px 0 50px;
  font-size:50px;
}
.catalog-products {
  margin-left:140px;
  padding-bottom:50px;
  padding-left:39px;
  float:left;
  border-left:1px solid #e9e7e5;
}
.catalog-products:last-child {
  margin-bottom:50px;
  padding-bottom:0;
}
.catalog-products h3 {
  font-size:25px;
  font-weight:400;
  line-height:48px;
  margin:0 0 15px;
  border-top:1px dotted #bdb9b3;
  border-bottom:1px dotted #bdb9b3;
}
.catalog-products h3 span {
  display:inline-block;
  float:right;
  color:#929ba3;
  font-size:14px;
  font-weight:300;
  font-style:italic;
}
.catalog-products .block-item {
  float:left;
  width:283px;
  margin:35px 29px 0 0;
  text-align:center;
  position:relative;
}
.catalog-products .block-item:nth-child(4n) { margin:35px 0 0 0; }
.catalog-products .block-item .product_label {
  position:absolute;
  width:61px;
  height:61px;
  top:-10px;
  right:-25px;
  z-index:2;
}
.catalog-products .block-item .product_label img {
  width:61px;
  height:61px;
}
.catalog-products .block-item .jshop_img {
  width:100%;
  height:auto;
  display:block;
  cursor:pointer;
}
.catalog-products .block-item .name { padding:9px 0 0; }
.catalog-products .block-item .name a {
  color:#3274c3;
  font-size:18px;
  font-weight:300;
  border-bottom:1px solid #c8deed;
}
.catalog-products .block-item .description {
  font-size:14px;
  padding-top:3px;
  color:#333333;
  font-weight:500;
}
.catalog-categories {
  position:absolute;
  top:110px;
  left:0;
}
.catalog-categories.fixed {
  position:fixed;
  top:0;
  left:50%;
  margin-left:-700px;
}
.catalog-categories .catalog-category {
  width:120px;
  padding:20px 10px;
  text-align:center;
  cursor:pointer;
  border-left:1px solid #e9e7e5;
  border-bottom:1px solid #e9e7e5;
  font-size:14px;
  font-weight:500;
}
.catalog-categories .catalog-category:first-child { border-top:1px solid #e9e7e5; }
.catalog-categories .catalog-category.active {
  position:relative;
  width:116px;
  padding:18px 10px;
  border:3px solid #f36f21;
  box-shadow:0 5px 5px 0 #e8e6e3;
  background:#f7f7f6;
}
.catalog-categories .catalog-category.active:after {
  content:'';
  display:block;
  width:15px;
  height:29px;
  position:absolute;
  top:50%;
  right:-15px;
  margin-top:-14px;
  z-index:2;
  background:url("../images/bg_active_category.png") no-repeat;
}
.catalog-categories .catalog-category.active .catalog-category-name {
  font-weight:500;
  color:#333333;
  border-bottom:none;
}
.catalog-categories .catalog-category.active .catalog-category-desc { color:#f36f21; }
.catalog-categories .catalog-category img {
  display:inline-block;
  margin-bottom:10px;
}
.catalog-categories .catalog-category .catalog-category-name {
  font-weight:300;
  color:#3274c3;
  border-bottom:1px dotted #3274c3;
}
.catalog-categories .catalog-category .catalog-category-desc {
  display:inline-block;
  margin-top:3px;
}
#nav-scroll {
  position:fixed;
  top:50%;
  left:50%;
  margin:-120px 0 0 750px;
  z-index:100;
}
#nav-scroll a {
  display:block;
  margin:9px 0;
  width:5px;
  height:5px;
  position:relative;
  cursor:pointer;
  border-radius:2.5px;
  background:#4e5256;
}
#nav-scroll a.active {
  margin:6px 0 6px -3px;
  padding:2px;
  border-radius:6.5px;
  border:1px solid #f36f21;
  background:transparent;
}
#nav-scroll a.active:after {
  content:'';
  display:block;
  position:absolute;
  top:2px;
  left:2px;
  width:5px;
  height:5px;
  border-radius:2.5px;
  background:#f36f21;
}
.middle-block { background:#f9fafa; }
.middle-block section {
  width:1400px;
  margin:0 auto;
  background:#ffffff;
  box-shadow:0 20px 40px 0 #e8e6e3;
}
.questions-block {
  height:403px;
  background:url("../images/bg_bubble_questions.png") no-repeat 139px 43px;
}
.questions-block .question-manager {
  position:absolute;
  top:-21px;
  left:50%;
  margin-left:-280px;
  width:261px;
  height:425px;
  z-index:20;
  background:url("../images/bg_manager.png") no-repeat;
}
.questions-block .question-manager span {
  display:block;
  position:absolute;
  top:303px;
  right:-182px;
  font-size:15px;
  font-weight:300;
  font-style:italic;
  line-height:22px;
  color:#929ba3;
}
.questions-block .question-bubble {
  position:absolute;
  top:-15px;
  left:50%;
  margin-left:-70px;
  width:280px;
  padding:30px;
  border:3px solid #f36f21;
  border-radius:3px;
  text-align:center;
  z-index:1;
  background:#ffffff;
}
.questions-block .question-bubble:after {
  content:'';
  display:block;
  width:77px;
  height:39px;
  position:absolute;
  bottom:-39px;
  left:61px;
  background:url("../images/bg_talk_bubble.png") no-repeat;
}
.questions-block .question-bubble h4 {
  font-size:20px;
  margin:0 0 20px;
  line-height:16px;
}
.questions-block .question-bubble p {
  color:#4e5256;
  font-weight:300;
  font-size:15px;
  line-height:22px;
  margin:0;
}
.questions-block .question-bubble p b {
  font-weight:700;
  color:#333;
}
.questions-block .question-bubble .btn2 { margin:20px auto 0; }
.btn2 {
  position:relative;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  text-align:center;
  font-size:15px;
  font-weight:700;
  line-height:15px;
  padding:15px 17px;
  border-radius:3px;
  background:#3d81d2;
}
.btn2:active {
  top:1px;
  left:1px;
}
.btn3 {
  position:relative;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  text-align:center;
  font-weight:700;
  border-radius:3px;
  background:#3d81d2;
  margin:62px 0 0;
  height:60px;
  line-height:60px;
  padding:0 50px;
  font-size:20px;
}
.btn3:active {
  top:1px;
  left:1px;
}
.indent-1 { padding:0 90px 20px; }
.indent-2 { padding:70px 90px 30px; }
.indent-3 { padding:75px 30px 55px; }
.row { overflow:hidden; }
.row .col-2 {
  width:50%;
  float:left;
}
.row .col-3-l {
  width:360px;
  float:left;
  margin:0 0 40px 65px;
}
.row .col-3-l img {
  display:block;
  width:140px;
  height:116px;
  float:left;
  margin:0 20px 0 0;
}
.row .col-3-l h3 {
  width:200px;
  font-size:20px;
  margin:0 0 12px;
  float:left;
}
.row .col-3-l p {
  width:170px;
  float:left;
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
}
.row .col-3-l p b {
  font-weight:700;
  color:#333;
}
.row .col-3-s {
  width:325px;
  float:left;
  margin:0 110px 40px 0;
}
.row .col-3-s:nth-child(3n) { margin:0 0 40px 0; }
.row .col-4 {
  float:left;
  width:280px;
  margin:0 33px 50px 0;
}
.row .col-4:nth-child(4n) { margin:0 0 50px 1px; }
.row .col-4 img {
  display:block;
  width:280px;
  height:250px;
}
.row .col-4 h3 {
  margin:15px 0 10px;
  font-size:16px;
}
.row .col-4 p {
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
}
.row .col-4 p b {
  font-weight:700;
  color:#333;
}
.info-block { padding:108px 120px 0 85px; }
.info-block h2 {
  margin:0 0 25px !important;
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
}
.info-block p {
  padding-right:70px;
  color:#4e5256;
  font-weight:300;
  font-size:15px;
  line-height:22px;
  margin:0;
}
.info-block p b {
  font-weight:700;
  color:#333;
}
.section-3 .row:first-child { border-bottom:1px solid #e8e6e3; }
.section-3 .col-2 img {
  display:block;
  width:100%;
  height:auto;
}
.kitchen-block-1 {
  text-align:center;
  padding:0 0 125px;
  background:url("../images/bg_kitchen_1.jpg") no-repeat left bottom;
}
.kitchen-review {
  width:480px;
  margin:0 auto;
  padding:35px 100px 0;
  position:relative;
  border-top:1px solid #e8e6e3;
  border-bottom:1px solid #e8e6e3;
  text-align:center;
}
.kitchen-review:after {
  content:'';
  display:block;
  position:absolute;
  top:-22px;
  left:400px;
  width:31px;
  height:22px;
  background:url("../images/bg_review_bublle.jpg") no-repeat;
}
.kitchen-review .kitchen-review-avatar {
  display:block;
  position:absolute;
  top:-51px;
  left:50%;
  width:80px;
  height:80px;
  margin-left:-40px;
  border-radius:40px;
  z-index:2;
}
.kitchen-review .kitchen-review-text {
  font-size:14px;
  font-weight:300;
  font-style:italic;
  color:#929ba3;
  line-height:22px;
  margin:0 0 10px;
}
.kitchen-review .kitchen-review-name, .kitchen-review .kitchen-review-city {
  display:block;
  font-size:14px;
  font-weight:400;
  color:#f36f21;
  line-height:22px;
}
.kitchen-review .kitchen-review-city {
  color:#333333;
  margin-bottom:22px;
}
.section-4 .video-block {
  height:573px;
  background:url("../images/bg_video.jpg") no-repeat;
  background-size:100% auto;
}
.section-4 .video-block #video-frame { display:none; }
.section-4 .video-block #play-button {
  display:block;
  margin:168px auto 0;
  width:208px;
  height:208px;
  cursor:pointer;
  background:url("../images/play_button.png") no-repeat center;
}
.section-4 .video-block .info-block { padding:140px 130px 50px 110px; }
.section-4 .video-block .info-block h2, .section-4 .video-block .info-block p { color:#ffffff; }
.section-4 .col-3-s img {
  display:block;
  width:120px;
  height:100px;
  float:left;
  margin:0 24px 0 0;
}
.section-4 .col-3-s h4 {
  font-size:16px;
  margin:0 0 10px;
  float:left;
  border-bottom:1px dotted #333333;
}
.section-4 .col-3-s p {
  width:180px;
  float:left;
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
}
.section-4 .col-3-s p b {
  font-weight:700;
  color:#333;
}
.section-4 .kitchen-block-2 {
  height:306px;
  padding:89px 0 78px;
  text-align:center;
  background:url("../images/bg_kitchen_2.jpg") no-repeat;
  background-size:100% auto;
}
.section-4 .kitchen-block-2 .kitchen-review {
  border-top:1px solid #928983;
  border-bottom:1px solid #928983;
}
.section-4 .kitchen-block-2 .kitchen-review:after {
  left:244px;
  background:url("../images/bg_review_bublle_2.jpg") no-repeat;
}
.section-4 .kitchen-block-2 .kitchen-review .kitchen-review-text, .section-4 .kitchen-block-2 .kitchen-review .kitchen-review-city { color:#ffffff; }
.section-5 .kitchen-block-3 {
  height:600px;
  padding:83px 0 0 90px;
  background:url("../images/bg_kitchen_3.jpg") no-repeat center;
  background-size:100% auto;
}
.section-5 .kitchen-block-3 h2 {
  width:500px;
  color:#191818;
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
}
.section-5 .kitchen-block-3 li {
  width:310px;
  padding:5px 0 5px 60px;
  margin:0 0 25px 0 !important;
  background:url("../images/sprite_kitchen_3.png") no-repeat 2px 7px;
  color:#4e5256;
  font-weight:300;
  font-size:15px;
  line-height:22px;
  margin:0;
}
.section-5 .kitchen-block-3 li b {
  font-weight:700;
  color:#333;
}
.section-5 .kitchen-block-3 .icon-2 { background-position:2px -62px; }
.section-5 .kitchen-block-3 .icon-3 { background-position:2px -130px; }
.section-5 .kitchen-block-3 .icon-4 { background-position:2px -198px; }
.section-5 .kitchen-block-4 {
  padding:105px 0 80px 0;
  text-align:center;
  background:url("../images/bg_kitchen_4.jpg") no-repeat center bottom;
  background-size:100% auto;
}
.section-6 .kitchen-block-5 {
  height:500px;
  padding:140px 0 0 815px;
  background:url("../images/bg_kitchen_5.jpg") no-repeat center;
  background-size:100% auto;
}
.section-6 .kitchen-block-5 h2 {
  width:500px;
  color:#ffffff;
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
}
.section-6 .kitchen-block-5 p {
  width:450px;
  color:#ffffff !important;
  color:#4e5256;
  font-weight:300;
  font-size:15px;
  line-height:22px;
  margin:0;
}
.section-6 .kitchen-block-5 p b {
  font-weight:700;
  color:#333;
}
.section-6 .kitchen-block-6 {
  padding:12px 0 106px 0;
  text-align:center;
  background:url("../images/bg_kitchen_6.jpg") no-repeat center bottom;
  background-size:100% auto;
}
.section-7 .kitchen-block-7 {
  height:477px;
  padding:95px 0 0 90px;
  border-bottom:1px solid #e8e6e3;
  background:url("../images/bg_kitchen_7.jpg") no-repeat center;
  background-size:100% auto;
}
.section-7 .kitchen-block-7 h2 {
  width:400px;
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
}
.section-7 li {
  padding:5px 0 5px 50px;
  margin:0 0 14px 12px !important;
  background:url("../images/sprite_kitchen_7.png") no-repeat 0 3px;
  color:#4e5256;
  font-weight:300;
  font-size:15px;
  line-height:22px;
  margin:0;
}
.section-7 li b {
  font-weight:700;
  color:#333;
}
.section-7 .icon-2 { background-position:0 -37px; }
.section-7 .icon-3 { background-position:0 -90px; }
.section-7 .icon-4 { background-position:0 -140px; }
.section-7 .icon-5 { background-position:0 -180px; }
.section-7 .icon-6 { background-position:0 -230px; }
.section-7 .row {
  padding:75px 100px 105px 160px;
  background:#f8f8f8;
}
.section-7 .row img {
  display:block;
  width:140px;
  height:116px;
  float:left;
  margin:0 20px 0 0;
}
.section-7 .row h3 {
  font-size:20px;
  margin:0 0 12px;
  float:left;
}
.section-7 .row p {
  width:340px;
  float:left;
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
}
.section-7 .row p b {
  font-weight:700;
  color:#333;
}
.section-7 .kitchen-block-8 {
  padding:12px 0 110px 0;
  text-align:center;
  background:url("../images/bg_kitchen_8.jpg") no-repeat center bottom;
  background-size:auto 100%;
}
.section-7 .kitchen-block-8 .kitchen-review:after { background:url("../images/bg_review_bublle_3.jpg") no-repeat; }
.section-8 h2 {
  padding:100px 0 60px;
  text-align:center;
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
  margin:0;
}
.section-8 .video-review-block {
  width:680px;
  overflow:hidden;
  margin:0 auto;
  padding-bottom:108px;
}
.section-8 .video-review-block .video-block-small {
  width:340px;
  height:246px;
  float:left;
  margin:0 35px 45px 0;
  background:url("../images/bg_video_review.jpg") no-repeat center;
}
.section-8 .video-review-block .video-block-small #play-button-small {
  display:block;
  width:82px;
  height:82px;
  margin:80px auto;
  cursor:pointer;
  background:url("../images/play_button_small.png") no-repeat;
}
.section-8 .video-review-block .video-block-small #video-frame-small { display:none; }
.section-8 .video-review-block .kitchen-review-small {
  float:left;
  width:305px;
  padding-top:12px;
}
.section-8 .video-review-block .kitchen-review-small .kitchen-review-text {
  position:relative;
  padding:28px 33px;
  border-top:1px solid #eae8e5;
  border-bottom:1px solid #eae8e5;
  font-size:14px;
  font-weight:300;
  font-style:italic;
  line-height:22px;
  color:#929ba3;
  margin:0 0 30px;
}
.section-8 .video-review-block .kitchen-review-small .kitchen-review-text:after {
  content:'';
  display:block;
  position:absolute;
  bottom:-22px;
  left:140px;
  width:31px;
  height:22px;
  background:url("../images/bg_review_bublle_4.jpg") no-repeat;
}
.section-8 .video-review-block .kitchen-review-name, .section-8 .video-review-block .kitchen-review-city {
  display:block;
  font-size:14px;
  font-weight:400;
  color:#f36f21;
  line-height:22px;
  margin-left:35px;
}
.section-8 .video-review-block .kitchen-review-city {
  color:#333333;
  margin-bottom:22px;
}
.section-8 .video-review-block .btn3 { margin:0 0 0 95px; }
.section-9 .kitchen-block-9 {
  text-align:center;
  padding:105px 0 103px;
  background:url("../images/bg_kitchen_9.jpg") no-repeat center;
  background-size:100% auto;
}
.section-9 .kitchen-block-9 h2 {
  width:640px;
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
  margin:0 auto 95px;
  color:#ffffff;
}
.section-9 .kitchen-block-9 ul {
  float:left;
  margin:0 0 60px 60px;
}
.section-9 .kitchen-block-9 li {
  float:left;
  position:relative;
  width:189px;
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
  color:#ffffff;
  margin:0 28px;
  padding:120px 0 0;
  background:url("../images/sprite_kitchen_9.png") no-repeat 55px 0;
}
.section-9 .kitchen-block-9 li b {
  font-weight:700;
  color:#333;
}
.section-9 .kitchen-block-9 li:nth-child(3n):after, .section-9 .kitchen-block-9 li:first-child:after {
  content:'';
  display:block;
  width:134px;
  height:29px;
  position:absolute;
  top:-15px;
  right:-95px;
  background:url("../images/arrow_top.png");
}
.section-9 .kitchen-block-9 li:nth-child(2n):after {
  content:'';
  display:block;
  width:134px;
  height:29px;
  position:absolute;
  top:70px;
  right:-91px;
  background:url("../images/arrow_bottom.png");
}
.section-9 .kitchen-block-9 .icon-2 { background-position:-195px 0; }
.section-9 .kitchen-block-9 .icon-3 { background-position:-440px 0; }
.section-9 .kitchen-block-9 .icon-4 { background-position:-685px 0; }
.section-9 .kitchen-block-9 .icon-5 { background-position:-935px 0; }
.section-9 .kitchen-block-9 .block-9-info {
  width:250px;
  margin:0 auto 35px;
  font-size:14px;
  font-style:italic;
  line-height:20px;
  color:#ffffff;
}
.section-9 .kitchen-block-9 .btn3 {
  margin:0;
  padding:0 20px;
}
.section-10 .row { border-bottom:1px solid #e8e6e3; }
.section-10 .row img { display:block; }
.section-10 .info-block p { padding-right:0; }
.section-10 .kitchen-block-10 {
  padding:90px 0 110px;
  text-align:center;
  background:url("../images/bg_kitchen_10.jpg") no-repeat right bottom;
}
.section-11 .kitchen-block-11 {
  padding:109px 0 121px;
  text-align:center;
  background:url("../images/bg_kitchen_11.jpg") no-repeat center;
  background-size:100% auto;
}
.section-11 .kitchen-block-11 h2 {
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
  color:#ffffff;
  margin:0 0 70px;
}
.section-11 .kitchen-block-11 li {
  display:inline-block;
  width:280px;
  padding:115px 40px 8px;
  font-size:15px;
  line-height:22px;
  color:#ffffff;
  background:url("../images/sprite_kitchen_11.png") no-repeat 132px 0;
}
.section-11 .kitchen-block-11 .icon-2 { background-position:-228px 0; }
.section-11 .kitchen-block-11 .icon-3 { background-position:-588px 0; }
.section-11 .video-company { border-bottom:1px solid #e8e6e3; }
.section-11 .video-company img, .section-11 .video-company iframe { display:block; }
.section-11 .video-company .col-2 { position:relative; }
.section-11 .video-company #video-frame-2 { display:none; }
.section-11 .video-company #play-button-2 {
  display:block;
  width:208px;
  height:208px;
  cursor:pointer;
  position:absolute;
  top:168px;
  left:50%;
  margin-left:-104px;
  background:url("../images/play_button.png") no-repeat center;
}
.section-11 .video-company .info-block { padding:140px 120px 0 90px; }
.section-11 .video-company .info-block h3 {
  margin:30px 0 10px;
  font-size:20px;
}
.section-11 .video-company .info-block p {
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
  padding-right:75px;
}
.section-11 .video-company .info-block p b {
  font-weight:700;
  color:#333;
}
.section-11 .about-company {
  text-align:center;
  padding:52px 0 70px;
}
.section-11 .about-company li {
  display:inline-block;
  width:323px;
  padding:175px 0 0;
  font-size:15px;
  color:#929ba3;
  background:url("../images/sprite_about_us.png") no-repeat 87px 0;
}
.section-11 .about-company li span {
  display:block;
  font-size:35px;
  line-height:30px;
  color:#333333;
  padding:7px 0 12px;
}
.section-11 .about-company li a {
  color:#3274c3;
  border-bottom:1px dotted #3274c3;
}
.section-11 .about-company .icon-2 { background-position:-236px 0; }
.section-11 .about-company .icon-3 { background-position:-559px 0; }
.section-11 .about-company .icon-4 { background-position:-882px 0; }
.section-12 .contacts {
  text-align:center;
  padding:80px 0 75px;
  background:#f8f8f8;
}
.section-12 .contacts h2 {
  font-size:50px;
  line-height:50px;
  margin:0 0 30px;
}
.section-12 .contacts li {
  display:inline-block;
  margin:25px 160px 0 0;
  font-size:16px;
  font-weight:300;
  line-height:28px;
  color:#616874;
  text-align:left;
  padding:0 0 0 65px;
  background:url("../images/sprite_contacts.png") no-repeat 0 10px;
}
.section-12 .contacts li a {
  color:#3274c3;
  border-bottom:1px solid #3274c3;
}
.section-12 .contacts .icon-2 { background-position:-436px 10px; }
.section-12 .contacts .icon-3 {
  margin:25px 30px 0 0;
  padding:0 0 0 50px;
  background-position:-783px 10px;
}
#pwebcontact110_box { margin:0 auto; }
#pwebcontact110_box .pwebcontact-container { padding:50px 0 0; }
#pwebcontact110_box p {
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
  margin:0 0 17px;
}
#pwebcontact110_box p b {
  font-weight:700;
  color:#333;
}
#pwebcontact110_box input[type="text"], #pwebcontact110_box input[type="email"] {
  font-size:14px;
  font-style:italic;
  color:#333333;
  padding-left:10px;
}
#pwebcontact110_box .pweb-field-message {
  width:500px;
  margin:0 auto 21px;
}
#pwebcontact110_box .pweb-field-message textarea {
  padding:12px 20px 0;
  font-size:14px;
  font-style:italic;
  color:#333333;
  text-align:center;
}
#pwebcontact110_box .pweb-field-name, #pwebcontact110_box .pweb-field-email_5 {
  width:245px;
  float:left;
  margin:0 0 24px;
}
#pwebcontact110_box .pweb-field-name { margin-right:10px; }
#pwebcontact110_box .pweb-field-buttons { width:180px; }
#pwebcontact110_box .pweb-field-buttons .btn2 {
  height:46px;
  font-size:16px;
}
#pwebcontact110_box ::-webkit-input-placeholder {
  font-size:14px;
  font-style:italic;
  color:#929ba3;
}
#pwebcontact110_box :-moz-placeholder {
  font-size:14px;
  font-style:italic;
  color:#929ba3;
}
#copyright {
  min-width:1400px;
  height:126px;
  background:#333333;
}
#copyright .copyright-info {
  width:1260px;
  margin:0 auto;
  padding:40px 50px 0 90px;
  overflow:hidden;
}
#copyright .copyright-info span {
  display:inline-block;
  float:left;
  color:#929ba3;
  font-size:14px;
  font-weight:300;
  margin:18px 0 0;
}
#copyright .copyright-info .btn2 {
  float:right;
  font-size:14px;
  font-weight:300;
}
div.pwebcontact-box.pweb-modal.pweb-radius .pwebcontact-container {
  border-radius:0;
  border:1px solid #e8e6e3;
  -moz-box-shadow:0 0 30px 10px #929ba3;
  -webkit-box-shadow:0 30px 10px #929ba3;
  box-shadow:0 0 30px 10px #929ba3;
}
.pweb-field-subject, #pwebcontact98, #pwebcontact99, #pwebcontact100, #pwebcontact112, #pwebcontact113 { display:none; }
div .pweb-modal .pweb-button-close {
  right:23px;
  top:23px;
  padding:23px 0 0 23px !important;
  background:url("../images/bg_close.png") no-repeat 0 0 !important;
}
.pwebcontact-container .pweb-field-container {
  width:320px;
  margin:0 auto 20px;
}
.pwebcontact-container .pweb-field-container.pweb-separator-text {
  line-height:24px;
  text-align:center;
}
.pwebcontact-container .pweb-field-container.pweb-separator-text h3 {
  font-size:20px;
  margin:30px 0 15px;
}
div .pweb-form-blue form.pwebcontact-form input.pweb-input, div .pweb-form-blue form.pwebcontact-form textarea {
  border:1px solid #d9d7d4;
  border-radius:0;
  width:100%;
  height:35px;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
div .pweb-form-blue form.pwebcontact-form textarea { height:98px; }
*::-webkit-input-placeholder {
  font-family:'Exo 2';
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
}
*::-webkit-input-placeholder b {
  font-weight:700;
  color:#333;
}
*:-moz-placeholder {
  font-family:'Exo 2';
  color:#4e5256;
  font-weight:300;
  font-size:14px;
  line-height:20px;
  margin:0;
}
*:-moz-placeholder b {
  font-weight:700;
  color:#333;
}
.form-privacy-policy {
  padding-left:34px;
  font-size:12px;
  font-style:italic;
  font-weight:300;
  line-height:16px;
  color:#929ba3;
  text-align:left;
  background:url("../images/bg_privacy_policy.png") no-repeat 0 0;
}
form.pwebcontact-form .pweb-field-buttons button {
  display:block;
  width:100%;
  height:63px;
  padding:0;
  border:none;
  font-size:20px;
  font-family:'Exo 2';
  border-radius:3px !important;
}
.callback-link { cursor:pointer; }
html body.pweb-modal-open { overflow:auto; }
div.pwebcontact-modal.modal { overflow-y:auto; }
body form.pwebcontact-form input.pweb-input:focus, body form.pwebcontact-form select:focus, body form.pwebcontact-form textarea:focus {
  border:1px solid #f36f21;
  -webkit-box-shadow:none !important;
  -moz-box-shadow:none !important;
  box-shadow:none !important;
}
.thanks-page {
  position:relative;
  background:url("../images/bg_thank_page.jpg") no-repeat center;
  background-size:100% auto;
}
.thanks-page .thanks-block {
  position:absolute;
  top:50%;
  left:50%;
  margin:-240px 0 0 -360px;
  width:720px;
  height:480px;
  background:#ffffff;
}
.thanks-page .thanks-block .logo {
  display:inline-block;
  margin:40px 450px 0 46px;
}
.thanks-page .thanks-block .manager {
  position:absolute;
  left:40px;
  bottom:0;
  width:245px;
  height:368px;
  background:url("../images/bg_manager2.png") no-repeat center top;
  background-size:100% auto;
}
.thanks-page .thanks-block .manager .manager-name {
  display:inline-block;
  position:absolute;
  bottom:52px;
  right:-148px;
  font-size:15px;
  font-weight:300;
  font-style:italic;
  line-height:22px;
  color:#929ba3;
}
.thanks-page .thanks-block .thanks-info {
  width:280px;
  margin:17px 0 0 380px;
}
.thanks-page .thanks-block .thanks-info h3 {
  margin:0 0 15px;
  font-size:25px;
}
.thanks-page .thanks-block .thanks-info p {
  font-size:15px;
  font-weight:300;
  line-height:22px;
  color:#4e5256;
  margin:0 0 20px;
}
.thanks-page .thanks-block .thanks-info p b {
  font-weight:700;
  color:#333333;
}
.thanks-page .thanks-block .thanks-info p span, .thanks-page .thanks-block .thanks-info p a {
  font-weight:700;
  color:#f26f21;
}
@media (min-width: 1481px) {
  div.pwebcontact-box.pweb-modal { margin:220px auto !important; }
}
@media (min-width: 1210px) and (max-width: 1480px) {
  div.pwebcontact-box.pweb-modal { margin:100px auto !important; }
  #header, #main-banner, #catalog, .questions-block, .middle-block section { width:1200px; }
  #header .header-info .header-guarantee, #header .header-info .header-manufacturer { margin:20px 120px 0 0; }
  #main-banner .banner-wrap { width:960px; }
  #main-banner .banner-wrap .banner-info {
    top:125px;
    line-height:50px;
    font-size:36px;
  }
  #main-banner .banner-action {
    height:566px;
    width:200px;
    background-size:100% 100%;
  }
  #main-banner .banner-action .banner-action-date {
    margin:23px 0 15px;
    font-size:17px;
    line-height:22px;
  }
  #main-banner .banner-action .banner-action-date span { font-size:26px; }
  #main-banner .banner-action > span {
    margin-bottom:15px;
    font-size:16px;
  }
  #nav-scroll { margin:-110px 0 0 640px; }
  .title-catalog h2 {
    margin:50px 0 40px;
    font-size:44px;
  }
  .catalog-categories { top:90px; }
  .catalog-categories.fixed { margin-left:-600px; }
  .catalog-products .block-item {
    width:240px;
    margin:35px 20px 0 0;
  }
  .catalog-products .block-item .product_label { right:-15px; }
  .info-block { padding:80px 90px 0 85px; }
  .info-block h2 {
    font-size:42px;
    line-height:42px;
  }
  .info-block p { padding-right:0; }
  .h2-title {
    font-size:42px;
    line-height:42px;
  }
  .indent-1 { padding:0 50px 20px; }
  .row .col-3-l { margin:0 0 40px 20px; }
  .row .col-3-s { margin:0 22px 40px 0; }
  .row .col-4 { width:250px; }
  .row .col-4 img {
    width:250px;
    height:auto;
  }
  .kitchen-block-1 { padding:0 0 75px; }
  .section-4 .video-block { height:491px; }
  .section-4 .video-block iframe {
    width:600px !important;
    height:491px !important;
  }
  .section-4 .video-block .info-block { padding:100px 90px 0 80px; }
  .section-4 .kitchen-block-2 {
    height:244px;
    padding:83px 0 78px;
  }
  .section-4 .btn3 { margin:40px 0 0; }
  .section-5 .kitchen-block-3 { height:501px; }
  .section-5 .kitchen-block-3 h2 {
    width:450px;
    font-size:42px;
    line-height:42px;
  }
  .section-5 .kitchen-block-3 li { margin:0 0 15px 0 !important; }
  .section-6 .kitchen-block-5 {
    height:428px;
    padding:120px 0 0 690px;
  }
  .section-6 .kitchen-block-5 h2 {
    width:430px;
    font-size:42px;
    line-height:44px;
  }
  .section-6 .kitchen-block-6 { padding:12px 0 72px 0; }
  .section-7 .kitchen-block-7 {
    height:423px;
    padding:75px 0 0 90px;
  }
  .section-7 .kitchen-block-7 h2 {
    font-size:42px;
    line-height:44px;
  }
  .section-7 .row { padding:75px 50px 105px 90px; }
  .section-8 h2 { padding:70px 0 50px; }
  .section-9 .kitchen-block-9 { padding:72px 0 65px; }
  .section-9 .kitchen-block-9 h2 {
    font-size:42px;
    line-height:44px;
    margin:0 auto 65px;
  }
  .section-9 .kitchen-block-9 ul { margin:0 0 60px 0; }
  .section-9 .kitchen-block-9 li { margin:0 25px; }
  .section-10 .row img { width:100%; }
  .section-10 .kitchen-block-10 { padding:90px 0 80px; }
  .section-11 .kitchen-block-11 { padding:63px 0 75px; }
  .section-11 .video-company .info-block { padding:100px 70px 0; }
  .section-11 .video-company img { width:100%; }
  .section-11 .video-company iframe {
    width:600px !important;
    height:486px !important;
  }
  .section-11 .about-company li {
    width:295px;
    background-position:73px 0;
  }
  .section-11 .about-company .icon-2 { background-position:-250px 0; }
  .section-11 .about-company .icon-3 { background-position:-573px 0; }
  .section-11 .about-company .icon-4 { background-position:-896px 0; }
  .section-12 .custom > ymaps {
    width:600px !important;
    height:470px !important;
  }
  #copyright { min-width:inherit; }
  #copyright .copyright-info { width:1060px; }
}
@media (min-width: 1023px) and (max-width: 1209px) {
  #header, #main-banner, #catalog, .questions-block, .middle-block section { width:1000px; }
  #header { height:105px; }
  #header .logo { margin:29px 0 0; }
  #header .header-info { margin-top:0; }
  #header .header-info .header-guarantee, #header .header-info .header-manufacturer { margin:20px 60px 0 0; }
  #main-banner .banner-wrap {
    width:100%;
    float:none;
  }
  #main-banner .banner-wrap .banner-info {
    top:135px;
    font-size:38px;
    line-height:48px;
  }
  #main-banner .banner-action { display:none; }
  #nav-scroll { margin:-110px 0 0 504px; }
  .title-catalog h2 {
    margin:40px 0 30px;
    font-size:36px;
    line-height:40px;
  }
  .catalog-categories { top:70px; }
  .catalog-categories.fixed { margin-left:-500px; }
  .catalog-products .block-item {
    width:260px;
    margin:35px 20px 0 0;
  }
  .catalog-products .block-item:nth-child(4n) { margin:35px 20px 0 0; }
  .catalog-products .block-item:nth-child(3n) { margin:35px 0 0 0; }
  .catalog-products .block-item .product_label { right:0; }
  .questions-block {
    background:url("../images/bg_bubble_questions.png") no-repeat 0 20px;
    background-size:100% auto;
  }
  .info-block { padding:40px 60px 0 55px; }
  .info-block h2 {
    font-size:36px;
    line-height:38px;
  }
  .info-block p { padding-right:0; }
  .h2-title {
    font-size:42px;
    line-height:42px;
  }
  .indent-1 { padding:0 50px 20px; }
  .indent-2 { padding:70px 5px 30px; }
  .row .col-3-l { margin:0 0 40px 80px; }
  .row .col-3-s { margin:0 7px 40px 0; }
  .row .col-4, .row .col-4:nth-child(4n) { margin:0 30px 50px 0; }
  .row .col-4:nth-child(3n) { margin:0 0 50px 0; }
  .kitchen-block-1 { padding:0 0 75px; }
  .section-4 .video-block { height:409px; }
  .section-4 .video-block #play-button { margin:100px auto 0; }
  .section-4 .video-block iframe {
    width:500px !important;
    height:409px !important;
  }
  .section-4 .video-block .info-block { padding:50px 80px 0 70px; }
  .section-4 .kitchen-block-2 {
    height:auto;
    padding:97px 0 78px;
    background-size:100% 100%;
  }
  .section-4 .btn3 { margin:40px 0 0; }
  .section-5 .kitchen-block-3 {
    height:427px;
    padding:60px 0 0 60px;
  }
  .section-5 .kitchen-block-3 h2 {
    width:450px;
    font-size:36px;
    line-height:38px;
  }
  .section-5 .kitchen-block-3 li { margin:0 0 15px 0 !important; }
  .section-6 .kitchen-block-5 {
    height:387px;
    padding:70px 0 0 550px;
  }
  .section-6 .kitchen-block-5 h2 {
    width:370px;
    font-size:36px;
    line-height:38px;
  }
  .section-6 .kitchen-block-6 { padding:12px 0 72px 0; }
  .section-7 .kitchen-block-7 {
    height:380px;
    padding:35px 0 0 60px;
  }
  .section-7 .kitchen-block-7 h2 {
    font-size:36px;
    line-height:38px;
  }
  .section-7 .row { padding:65px 0 90px; }
  .section-7 li { margin:0 0 12px 12px !important; }
  .section-8 h2 { padding:50px 0 30px; }
  .section-8 .video-review-block { padding-bottom:60px; }
  .section-9 .kitchen-block-9 { padding:52px 0 40px; }
  .section-9 .kitchen-block-9 h2 {
    font-size:36px;
    line-height:36px;
    margin:0 auto 35px;
  }
  .section-9 .kitchen-block-9 ul { margin:0 0 35px 0; }
  .section-9 .kitchen-block-9 li { margin:0 5px; }
  .section-9 .kitchen-block-9 li:first-child:after, .section-9 .kitchen-block-9 li:nth-child(3n):after, .section-9 .kitchen-block-9 li:nth-child(2n):after { display:none; }
  .section-10 .row img { width:100%; }
  .section-10 .kitchen-block-10 { padding:90px 0 80px; }
  .section-11 .kitchen-block-11 { padding:45px 0 60px; }
  .section-11 .kitchen-block-11 h2 {
    font-size:42px;
    line-height:42px;
    margin:0 0 50px;
  }
  .section-11 .kitchen-block-11 li {
    padding:115px 20px 8px;
    background:url("../images/sprite_kitchen_11.png") no-repeat 112px 0;
  }
  .section-11 .kitchen-block-11 .icon-2 { background-position:-248px 0; }
  .section-11 .kitchen-block-11 .icon-3 { background-position:-608px 0; }
  .section-11 .kitchen-block-11 .btn3 { margin:32px 0 0; }
  .section-11 .video-company .info-block { padding:50px 50px 0; }
  .section-11 .video-company img { width:100%; }
  .section-11 .video-company iframe {
    width:500px !important;
    height:406px !important;
  }
  .section-11 .video-company #play-button-2 { top:100px; }
  .section-11 .about-company li {
    width:245px;
    background-position:48px 0;
  }
  .section-11 .about-company .icon-2 { background-position:-275px 0; }
  .section-11 .about-company .icon-3 { background-position:-598px 0; }
  .section-11 .about-company .icon-4 { background-position:-921px 0; }
  .section-12 .contacts li { margin:25px 100px 0 0; }
  .section-12 .col-2 { width:480px; }
  .section-12 .col-2.callback {
    width:500px;
    margin:0 10px;
  }
  .section-12 .custom > ymaps {
    width:480px !important;
    height:450px !important;
  }
  #copyright { min-width:inherit; }
  #copyright .copyright-info { width:860px; }
}
@media (min-width: 768px) and (max-width: 1022px) {
  #header, #main-banner, #catalog, .questions-block, .middle-block section { width:768px; }
  #header { height:90px; }
  #header .logo { margin:20px 0 0 10px; }
  #header .header-info { margin-top:0; }
  #header .header-info .header-phone { margin:15px 10px 0 0; }
  #header .header-info .header-guarantee, #header .header-info .header-manufacturer { display:none; }
  #main-banner .banner-wrap {
    width:100%;
    float:none;
  }
  #main-banner .banner-wrap .banner-info {
    top:95px;
    left:15px;
    font-size:32px;
    line-height:42px;
  }
  #main-banner .banner-wrap .banner-info .banner-button {
    height:40px;
    line-height:40px;
    font-size:18px;
  }
  #main-banner .banner-wrap .banner-info .banner-button i {
    width:40px;
    height:40px;
    background:#88add9 url("../images/banner_button_arrow.png") no-repeat center;
  }
  #main-banner .banner-action { display:none; }
  #nav-scroll { margin:-110px 0 0 372px; }
  .title-catalog h2 {
    margin:30px 0 20px;
    font-size:28px;
    line-height:30px;
  }
  .catalog-categories { top:50px; }
  .catalog-categories.fixed { margin-left:-384px; }
  .catalog-products h3 { padding-right:10px; }
  .catalog-products .block-item { margin:35px 11px 0 0; }
  .catalog-products .block-item .product_label { right:0; }
  .questions-block {
    background:url("../images/bg_bubble_questions.png") no-repeat 0 20px;
    background-size:100% auto;
  }
  .info-block { padding:20px 20px 0; }
  .info-block h2 {
    font-size:26px;
    line-height:26px;
  }
  .info-block p { padding-right:0; }
  .h2-title {
    font-size:26px;
    line-height:26px;
  }
  .indent-1 { padding:0 84px 20px; }
  .indent-2 { padding:50px 5px 30px; }
  .indent-3 { padding:35px 0 35px; }
  .row .col-3-l { margin:0 0 30px 10px; }
  .row .col-3-s, .row .col-3-s:nth-child(3n) { margin:0 0 30px 30px; }
  .row .col-4 { margin:0 40px 50px 0; }
  .row .col-4:nth-child(2n) { margin:0 0 50px 0; }
  .kitchen-block-1 { padding:0 0 75px; }
  .section-4 .video-block { height:314px; }
  .section-4 .video-block #play-button { margin:60px auto 0; }
  .section-4 .video-block iframe {
    width:384px !important;
    height:314px !important;
  }
  .section-4 .video-block .info-block { padding:40px 20px 0 10px; }
  .section-4 .kitchen-block-2 {
    height:auto;
    padding:97px 0 78px;
    background-size:100% 100%;
  }
  .section-4 .btn3 { margin:40px 0 0; }
  .section-5 .kitchen-block-3 {
    height:349px;
    padding:25px 0 0 15px;
  }
  .section-5 .kitchen-block-3 h2 {
    width:350px;
    font-size:26px;
    line-height:28px;
    margin:0 0 10px;
  }
  .section-5 .kitchen-block-3 li {
    width:290px;
    margin:0 0 10px 0 !important;
  }
  .section-5 .kitchen-block-4 { padding:75px 0; }
  .section-6 .kitchen-block-5 {
    height:321px;
    padding:30px 0 0 400px;
  }
  .section-6 .kitchen-block-5 h2 {
    width:270px;
    font-size:26px;
    line-height:28px;
    margin:0 0 20px;
  }
  .section-6 .kitchen-block-5 p { width:350px; }
  .section-6 .kitchen-block-6 { padding:12px 0 72px 0; }
  .section-7 .kitchen-block-7 {
    height:298px;
    padding:20px 0 0 30px;
  }
  .section-7 .kitchen-block-7 h2 {
    font-size:26px;
    line-height:28px;
    margin:0 0 20px;
  }
  .section-7 .row { padding:45px 0 60px; }
  .section-7 .row .col-2 {
    width:68%;
    clear:both;
    float:none;
    overflow:hidden;
    margin:0 auto 20px;
  }
  .section-7 li { margin:0 0 8px 10px !important; }
  .section-7 .kitchen-block-8 { padding:12px 0 40px 0; }
  .section-7 .kitchen-block-8 .btn3 { margin:30px 0 0; }
  .section-8 h2 { padding:30px 0; }
  .section-8 .video-review-block { padding-bottom:60px; }
  .section-9 .kitchen-block-9 { padding:25px 0 17px; }
  .section-9 .kitchen-block-9 h2 {
    font-size:26px;
    line-height:26px;
    margin:0 auto 20px;
  }
  .section-9 .kitchen-block-9 ul { margin:0 0 20px 0; }
  .section-9 .kitchen-block-9 li {
    margin:0 5px;
    width:139px;
    padding:95px 0 0;
    background:url("../images/sprite_kitchen_9.png") no-repeat 30px 0;
  }
  .section-9 .kitchen-block-9 li:first-child:after, .section-9 .kitchen-block-9 li:nth-child(3n):after, .section-9 .kitchen-block-9 li:nth-child(2n):after { display:none; }
  .section-9 .kitchen-block-9 .icon-2 { background-position:-217px 0; }
  .section-9 .kitchen-block-9 .icon-3 { background-position:-463px 0; }
  .section-9 .kitchen-block-9 .icon-4 { background-position:-708px 0; }
  .section-9 .kitchen-block-9 .icon-5 { background-position:-947px 0; }
  .section-9 .kitchen-block-9 .block-9-info { margin:0 auto 15px; }
  .section-10 .row img { width:100%; }
  .section-10 .kitchen-block-10 {
    padding:70px 0 50px;
    background-size:50% auto;
  }
  .section-11 .kitchen-block-11 { padding:25px 0; }
  .section-11 .kitchen-block-11 h2 {
    font-size:32px;
    line-height:32px;
    margin:0 0 35px;
  }
  .section-11 .kitchen-block-11 li {
    width:180px;
    padding:100px 20px 8px;
    line-height:20px;
    min-height:60px;
    background:url("../images/sprite_kitchen_11.png") no-repeat 62px 0;
  }
  .section-11 .kitchen-block-11 .icon-2 { background-position:-298px 0; }
  .section-11 .kitchen-block-11 .icon-3 { background-position:-658px 0; }
  .section-11 .kitchen-block-11 .btn3 { margin:5px 0 0; }
  .section-11 .video-company .info-block { padding:15px 10px 0; }
  .section-11 .video-company .info-block h2 { margin:0 0 15px !important; }
  .section-11 .video-company .info-block h3 { margin:10px 0; }
  .section-11 .video-company .info-block p { padding-right:0; }
  .section-11 .video-company img { width:100%; }
  .section-11 .video-company iframe {
    width:384px !important;
    height:312px !important;
  }
  .section-11 .video-company #play-button-2 { top:55px; }
  .section-11 .about-company { padding:30px 0 20px; }
  .section-11 .about-company li {
    padding:160px 0 0;
    margin-bottom:20px;
  }
  .section-11 .about-company li span { line-height:22px; }
  .section-12 .contacts { padding:35px 0; }
  .section-12 .contacts li { margin:25px 70px 0 0; }
  .section-12 .custom > ymaps { width:768px !important; }
  .section-12 .row .col-2 {
    float:none;
    width:100%;
    clear:both;
  }
  .section-12 .row .callback + .col-2 { height:487px; }
  #copyright { min-width:inherit; }
  #copyright .copyright-info {
    width:700px;
    padding:40px 30px 0 35px;
  }
  #pwebcontact110_box .pwebcontact-container { padding:0; }
  .thanks-page { background-size:auto 100%; }
}
@media (max-width: 767px) {
  #header, #main-banner, #catalog, .questions-block, .middle-block section { width:480px; }
  .section-4 .video-block {
    display:block;
    height:inherit;
    background-size:cover;
    background:none;
  }
  .section-4 .video-block .col-2:first-child {
    height:300px;
    background:url("../images/bg_video.jpg") no-repeat;
  }
  .section-4 .video-block .col-2:last-child { background:#f8f8f8; }
  .section-4 .video-block .col-2:last-child .info-block { padding:32px 16px; }
  .section-4 .video-block .col-2:last-child h2 { color:#333333 !important; }
  .section-4 .video-block .col-2:last-child p { color:#333333 !important; }
  .section-4 .video-block #play-button {
    display:block;
    margin:0 auto;
    padding-top:95px;
    width:105px;
    height:105px;
    cursor:pointer;
    background:url("../images/play_button.png") no-repeat bottom;
    background-size:contain;
  }
  .section-4 .video-block iframe {
    width:100% !important;
    height:300px !important;
  }
  #header {
    height:auto;
    margin:30px auto 25px;
  }
  #header .logo { margin:2px 0 0 20px; }
  #header .logo img { width:180px; }
  #header .header-info { margin-top:0; }
  #header .header-info .header-phone {
    min-height:inherit;
    margin:0 20px 0 0;
    padding-left:60px;
    font-size:13px;
    line-height:16px;
    background:url("../images/header_sprite.png") no-repeat 0 -182px;
    background-size:60px auto;
  }
  #header .header-info .header-phone span { font-size:22.5px; }
  #header .header-info .header-guarantee, #header .header-info .header-manufacturer { display:none; }
  #main-banner .banner-wrap {
    width:440px;
    height:376px;
    float:none;
    margin-left:20px;
    overflow:hidden;
  }
  #main-banner .banner-wrap img {
    width:635px;
    opacity:0.75;
  }
  #main-banner .banner-wrap .banner-info {
    top:28px;
    left:40px;
    font-size:30px;
    z-index:5;
    line-height:40px;
    text-align:center;
  }
  #main-banner .banner-wrap .banner-info .banner-button {
    width:228px;
    height:46px;
    margin-left:11px;
    text-align:center;
    line-height:25px;
    padding:12px 53px 16px 53px;
    border-radius:3px;
  }
  #main-banner .banner-wrap .banner-info .banner-button i { display:none; }
  #main-banner .banner-action {
    width:440px;
    height:343px;
    top:35px;
    margin-left:20px;
    background:url("../images/bg_action2.jpg") no-repeat center;
    background-size:100% 100%;
  }
  #main-banner .banner-action .banner-action-icon {
    margin-right:10px;
    top:-15px;
  }
  #main-banner .banner-action .banner-action-date {
    margin:50px 0 15px;
    font-size:18px;
    line-height:22px;
  }
  #main-banner .banner-action .banner-action-date span { font-size:26px; }
  #main-banner .banner-action > span {
    margin-bottom:15px;
    font-size:18px;
  }
  #main-banner .banner-action .banner-action-size {
    background-position:center 0;
    margin-right:260px;
    margin-top:52px;
    font-weight:500;
  }
  #main-banner .banner-action .banner-action-design {
    background-position:center -58px;
    margin-right:260px;
    font-weight:500;
  }
  #main-banner .banner-action .banner-action-delivery {
    background-position:center -115px;
    margin-top:-131px;
    margin-right:30px;
    font-weight:500;
  }
  #main-banner .banner-action .banner-action-install {
    background-position:center -170px;
    margin-right:30px;
    font-weight:500;
  }
  #nav-scroll { margin:-110px 0 0 250px; }
  .title-catalog h2 {
    width:340px;
    height:120px;
    margin:62px 74px 100px 74px;
    font-size:35px;
    line-height:40px;
    text-align:center;
  }
  .catalog-categories {
    width:440px;
    top:155px;
    left:40px;
  }
  .catalog-categories .catalog-category.active {
    position:relative;
    width:initial;
    padding:8px 13px;
    border:3px solid #f36f21;
    box-shadow:0 5px 5px 0 #e8e6e3;
    background:#f7f7f6;
  }
  .catalog-categories .catalog-category.active .catalog-category-name { font-weight:700; }
  .catalog-categories .catalog-category.active:after {
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
    top:inherit;
    right:44%;
    bottom:-22px;
  }
  .catalog-categories .catalog-category {
    float:left;
    width:initial;
    padding:10px 16px;
    text-align:center;
    cursor:pointer;
    border-left:1px solid #e9e7e5;
    border-top:1px solid #e9e7e5;
    border-bottom:1px solid #e9e7e5;
    font-size:14px;
    font-weight:500;
    background:white;
  }
  .catalog-categories .catalog-category:last-child { border-right:1px solid #e9e7e5; }
  .catalog-categories .catalog-category img { display:none; }
  .catalog-categories.fixed {
    display:block;
    margin-left:-200px;
    z-index:10;
  }
  .catalog-categories.fixed .catalog-category.active:after { bottom:-23px; }
  .catalog-products {
    margin-left:100px;
    padding-bottom:0;
    padding-left:0;
    float:left;
    border-left:none;
  }
  .catalog-products h3 {
    display:none;
    padding:5px 0;
    line-height:30px;
  }
  .catalog-products h3 span {
    float:none;
    padding-left:10px;
  }
  .catalog-products .block-item { margin:25px 11px 0 0; }
  .catalog-products .block-item .product_label { right:-10px; }
  .questions-block {
    display:none;
    height:200px;
    background:url("../images/bg_bubble_questions.png") no-repeat 0 20px;
    background-size:100% auto;
  }
  .questions-block .question-manager {
    top:-13px;
    margin-left:-180px;
    width:130px;
    height:212px;
    background-size:100% 100%;
  }
  .questions-block .question-manager span {
    top:170px;
    right:-250px;
    font-size:14px;
  }
  .questions-block .question-bubble {
    top:-12px;
    margin-left:-60px;
    width:250px;
    padding:8px;
  }
  .questions-block .question-bubble h4 {
    font-size:18px;
    margin:0 0 10px;
  }
  .questions-block .question-bubble .btn2 { margin:10px auto 0; }
  .middle-block section { width:400px; }
  .info-block { padding:20px; }
  .info-block h2 {
    font-size:35px;
    line-height:40px;
  }
  .info-block p { padding-right:0; }
  .h2-title {
    font-size:26px;
    line-height:26px;
  }
  .indent-1 { padding:0 84px 20px; }
  .indent-2 { padding:10px 0; }
  .indent-3 {
    height:408px;
    padding:35px 0 30px;
    border-bottom:1px solid #e8e6e3;
  }
  .row .col-2 {
    float:none;
    clear:both;
    width:100%;
  }
  .row .col-3-l { margin:0 0 30px 20px; }
  .row .col-3-s, .row .col-3-s:nth-child(3n) { margin:0 0 30px 20px; }
  .row .col-4, .row .col-4:nth-child(4n) {
    float:none;
    margin:0 auto 30px;
  }
  .kitchen-review {
    width:360px;
    padding:35px 0 0 0;
    margin:0 auto;
  }
  .kitchen-review:after { display:none; }
  .btn3 {
    width:228px;
    height:46px;
    margin:36px 0 0 11px;
    text-align:center;
    line-height:22px;
    padding:13px 53px 13px 53px;
    border-radius:3px;
    font-size:18px;
    font-weight:600;
    box-shadow:0 2px 5px -2px #215c70;
    background:linear-gradient(to bottom,#4a8ad7,#3577c7);
  }
  .kitchen-block-1 {
    padding:70px 0 100px;
    background-size:60% auto;
  }
  .section-4 .kitchen-block-2 {
    height:auto;
    padding:75px 0 40px;
    background-size:1000% 100%;
  }
  .section-4 .kitchen-block-2 .kitchen-review:after { display:none; }
  .section-5 .kitchen-block-3 {
    height:410px;
    padding:25px 0 330px 15px;
    background:url("../images/bg_kitchen_3.jpg") no-repeat right bottom;
    background-size:152%;
  }
  .section-5 .kitchen-block-3 h2 {
    width:350px;
    font-size:35px;
    line-height:40px;
    margin:0 0 30px;
  }
  .section-5 .kitchen-block-3 li {
    width:290px;
    margin:0 0 10px 0 !important;
  }
  .section-5 .kitchen-block-4 { padding:75px 0 80px 0; }
  .section-5 .kitchen-block-4 .btn3 { margin:26px 0 0 11px; }
  .section-6 .kitchen-block-5 {
    height:auto;
    background:url("../images/bg_kitchen_5.jpg") no-repeat top left, #f8f8f8;
    background-size:170%;
    padding:325px 10px 20px 20px;
  }
  .section-6 .kitchen-block-5 h2 {
    color:#333;
    width:350px;
    font-size:35px;
    line-height:40px;
    margin:0 0 30px;
  }
  .section-6 .kitchen-block-5 p {
    width:auto;
    font-size:15px;
    line-height:22px;
    color:#333 !important;
  }
  .section-6 .kitchen-block-6 { padding:72px 10px 70px 0; }
  .section-6 .btn3 {
    width:258px;
    padding:14px 38px 14px 38px;
  }
  .section-7 .kitchen-block-7 {
    height:auto;
    background:url("../images/kitchen_table.jpg") no-repeat bottom #f8f8f8;
    padding:10px 0 300px 10px;
  }
  .section-7 .kitchen-block-7 h2 {
    font-size:35px;
    line-height:40px;
    margin:30px 22px 28px;
  }
  .section-7 .row {
    padding:30px 0 0 20px;
    border-bottom:1px solid #e8e6e3;
  }
  .section-7 .row .col-2 {
    width:100%;
    clear:both;
    float:none;
    overflow:hidden;
    margin:0 auto 20px;
  }
  .section-7 .row h3 {
    width:160px;
    margin:-6px 0 12px;
  }
  .section-7 .row p { width:220px; }
  .section-7 li { margin:0 0 15px 30px !important; }
  .section-7 .kitchen-block-8 {
    padding:72px 0 70px 0;
    background:url("../images/bg_kitchen_8.jpg") no-repeat center bottom, #f8f8f8;
    background-size:auto 28%;
  }
  .section-7 .kitchen-block-8 .btn3 {
    width:278px;
    padding:14px 28px 14px 28px;
    font-size:20px;
  }
  .section-8 { display:none; }
  .section-8 h2 {
    padding:20px 0;
    font-size:30px;
    line-height:30px;
  }
  .section-8 .video-review-block {
    padding-bottom:40px;
    width:354px;
  }
  .section-8 .video-review-block .btn3 { margin:0; }
  .section-8 .video-review-block .video-block-small {
    float:none;
    margin:0 auto 15px;
  }
  .section-8 .video-review-block .video-block-small #play-button-small {
    position:relative;
    top:80px;
    margin:0 auto;
  }
  .section-8 .video-review-block .kitchen-review-small {
    float:none;
    width:340px;
    margin:0 auto;
  }
  .section-9 .kitchen-block-9 {
    padding:55px 0 60px;
    background:url("../images/bg_kitchen_9.jpg") 38%;
    background-size:cover;
  }
  .section-9 .kitchen-block-9 h2 {
    width:320px;
    font-size:35px;
    line-height:40px;
    margin:0 auto 20px;
    color:#ffffff;
  }
  .section-9 .kitchen-block-9 .btn3 {
    width:278px;
    padding:14px 28px 14px 28px;
    font-size:20px;
  }
  .section-9 .kitchen-block-9 ul {
    float:none;
    margin:0 0 0 15px;
  }
  .section-9 .kitchen-block-9 ul li {
    float:none;
    width:320px;
    text-align:left;
    line-height:20px;
    color:#ffffff;
    margin:0 0 30px 0;
    padding:0;
    background:none;
    min-height:60px;
    vertical-align:middle;
  }
  .section-9 .kitchen-block-9 ul li:after { display:none !important; }
  .section-9 .kitchen-block-9 ul li:first-child { line-height:60px; }
  .section-9 .kitchen-block-9 ul li:before {
    display:inline-block;
    background:url("../images/sprite_kitchen_9.png") no-repeat 0 0;
    content:'';
    width:60px;
    margin-right:10px;
    height:60px;
    background-size:1230%;
    float:left;
  }
  .section-9 .kitchen-block-9 ul li .icon-2:before { background-position-x:-170px; }
  .section-9 .kitchen-block-9 ul li .icon-2:before { background-position-x:-337px; }
  .section-9 .kitchen-block-9 ul li .icon-2:before { background-position-x:-507px; }
  .section-9 .kitchen-block-9 ul li .icon-2:before { background-position-x:-677px; }
  .section-10 .row img { width:100%; }
  .section-10 .kitchen-block-10 {
    padding:70px 0 100px;
    background-size:70% auto;
  }
  .section-11 .kitchen-block-11 {
    padding:55px 0 30px 0;
    background:url("../images/bg_kitchen_11.jpg") no-repeat left;
    background-size:auto 100%;
  }
  .section-11 .kitchen-block-11 h2 {
    font-size:32px;
    line-height:32px;
    margin:0 0 35px;
  }
  .section-11 .kitchen-block-11 li {
    width:290px;
    padding:90px 20px 8px;
    line-height:20px;
    min-height:60px;
    background:url("../images/sprite_kitchen_11.png") no-repeat 132px 0;
    background-size:190%;
  }
  .section-11 .kitchen-block-11 .icon-2 { background-position:-145px 0; }
  .section-11 .kitchen-block-11 .icon-3 { background-position:-422px 0; }
  .section-11 .kitchen-block-11 .btn3 { display:none; }
  .section-11 .video-company .info-block { padding:15px 10px 20px 20px; }
  .section-11 .video-company .info-block h2 { margin:0 0 15px !important; }
  .section-11 .video-company .info-block h3 { margin:10px 0; }
  .section-11 .video-company .info-block p { padding-right:0; }
  .section-11 .video-company img { width:100%; }
  .section-11 .video-company iframe {
    width:400px !important;
    height:300px !important;
  }
  .section-11 .video-company #play-button-2 {
    top:110px;
    width:105px;
    height:105px;
    background-size:contain !important;
    margin-left:-54px;
  }
  .section-11 .about-company { padding:30px 0 0; }
  .section-11 .about-company:after {
    display:block;
    content:'';
    clear:both;
  }
  .section-11 .about-company li {
    width:140px;
    padding:130px 0 0;
    margin:0 50px 40px 40px;
    background:url("../images/sprite_about_us.png") no-repeat 12px 0;
    background-size:650%;
    float:left;
    height:95px;
  }
  .section-11 .about-company li span {
    line-height:22px;
    text-transform:uppercase;
    font-size:30px;
  }
  .section-11 .about-company .icon-2 {
    margin:0 0 40px 0;
    background-position:-251px 0;
  }
  .section-11 .about-company .icon-3 { background-position:-780px 0; }
  .section-11 .about-company .icon-4 {
    margin:0 0 40px 0;
    background-position:-515px 0;
  }
  .section-12 .contacts {
    padding:35px 0;
    text-align:left;
  }
  .section-12 .contacts h2 {
    font-size:35px;
    line-height:40px;
    margin:0;
    text-align:left;
    padding:0 0 0 17px;
  }
  .section-12 .contacts li, .section-12 .contacts .icon-3 {
    margin:25px 0 0 25px;
    padding:0 0 0 65px;
  }
  .section-12 .custom > ymaps {
    width:480px !important;
    height:300px !important;
  }
  .section-12 .row .col-2 {
    float:none;
    width:100%;
    clear:both;
  }
  .section-12 .row .callback + .col-2 { height:300px; }
  .pwebcontact-container .pweb-field-container { width:360px; }
  .pwebcontact-container .pweb-field-container h3 {
    margin:25px 0 10px !important;
    text-align:left;
  }
  .pwebcontact-container .pweb-field-container p { text-align:left; }
  #pwebcontact110_box .pweb-field-name, #pwebcontact110_box .pweb-field-buttons, #pwebcontact110_box .pweb-field-email_5 {
    width:360px;
    float:none;
    margin:0 auto 20px !important;
  }
  #pwebcontact110_box .pweb-field-message { width:360px; }
  #pwebcontact110_box .pweb-field-message textarea {
    text-align:left;
    padding:12px 10px 0;
  }
  #copyright {
    min-width:inherit;
    width:400px;
    margin:0 auto;
  }
  #copyright .copyright-info {
    width:400px;
    text-align:center;
    padding:5px 0 0;
  }
  #copyright .copyright-info span, #copyright .copyright-info .btn2 {
    float:none;
    padding-bottom:15px;
  }
  #pwebcontact110_box .pwebcontact-container { padding:0; }
  .thanks-page { background-size:auto 100%; }
  .thanks-page .thanks-block {
    margin:-170px 0 0 -150px;
    width:280px;
    height:320px;
    padding:10px;
  }
  .thanks-page .thanks-block .logo {
    display:inline-block;
    margin:5px 0 0 5px;
  }
  .thanks-page .thanks-block .manager { display:none; }
  .thanks-page .thanks-block .thanks-info { margin:15px 0 0; }
}
@media (max-width: 479px) {
  #header, #main-banner, #catalog, .questions-block, .middle-block section { width:320px; }
  #header .title-catalog h2, #main-banner .title-catalog h2, #catalog .title-catalog h2, .questions-block .title-catalog h2, .middle-block section .title-catalog h2 {
    width:100%;
    margin:62px 0 0 0;
    font-size:30px;
  }
  #main-banner .banner-info .banner-button, .questions-block, .video-company .col-2:last-child { display:none; }
  #header { height:60px; }
  #header .logo {
    margin:10px 0 0 0;
    width:140px;
  }
  #header .logo img { width:140px; }
  #header .header-info .header-phone {
    margin:10px 0 0;
    padding-left:43px;
    font-size:11px;
    line-height:14px;
    background:url("../images/header_sprite.png") no-repeat 0 -136px;
    background-size:45px auto;
  }
  #header .header-info .header-phone span { font-size:16px; }
  #main-banner .banner-wrap {
    width:100%;
    float:none;
    margin-left:0;
    height:220px;
  }
  #main-banner .banner-wrap .banner-info {
    font-size:20px;
    line-height:20px;
  }
  #main-banner .banner-wrap .banner-info .banner-button {
    height:28px;
    line-height:28px;
    font-size:14px;
    padding:10px 8px;
    margin-left:0;
  }
  #main-banner .banner-wrap .banner-info .banner-button i {
    width:28px;
    height:28px;
    background:#88add9 url("../images/banner_button_arrow.png") no-repeat center;
  }
  #main-banner .banner-action {
    height:300px;
    margin-left:0;
    width:310px;
    padding:0 0 0 10px;
    float:none;
    background-size:cover;
  }
  #main-banner .banner-action .banner-action-icon {
    margin-right:17px;
    top:-15px;
  }
  #main-banner .banner-action .banner-action-date {
    margin:0 0 -15px 0;
    padding-top:15px;
  }
  #main-banner .banner-action .banner-action-date span { font-size:26px; }
  .catalog-categories {
    width:320px;
    top:155px;
    left:5px;
  }
  .catalog-categories .catalog-category.active {
    position:relative;
    width:initial;
    padding:8px 4px;
    border:3px solid #f36f21;
    box-shadow:0 5px 5px 0 #e8e6e3;
    background:#f7f7f6;
  }
  .catalog-categories .catalog-category.active .catalog-category-name { font-weight:700; }
  .catalog-categories .catalog-category.active:after {
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
    top:inherit;
    right:44%;
    bottom:-22px;
  }
  .catalog-categories .catalog-category {
    float:left;
    width:initial;
    padding:10px 7px;
    text-align:center;
    cursor:pointer;
    border-left:1px solid #e9e7e5;
    border-top:1px solid #e9e7e5;
    border-bottom:1px solid #e9e7e5;
    font-size:12px;
    font-weight:500;
    background:white;
  }
  .catalog-categories .catalog-category img { display:none; }
  .catalog-categories.fixed {
    display:block;
    margin-left:-155px;
    z-index:10;
  }
  .catalog-categories.fixed .catalog-category.active:after { bottom:-23px; }
  .catalog-products {
    padding-top:120px;
    padding-bottom:0;
    margin-left:0;
    padding-left:0;
    border-left:none;
    float:none;
  }
  .catalog-products .block-item, .catalog-products .block-item:nth-child(4n) {
    margin:0 auto 30px;
    float:none;
  }
  .info-block h2 {
    font-size:25px;
    line-height:25px;
  }
  .row .col-3-l { width:300px; }
  .row .col-3-l h3, .row .col-3-l p { width:100%; }
  .row .col-3-l h3 {
    float:none;
    text-align:center;
  }
  .row .col-3-l img {
    float:none;
    margin:0 auto 10px;
  }
  .row .col-3-s, .row .col-3-s:nth-child(3n) {
    width:310px;
    margin:0 0 20px 0;
  }
  .row .col-3-s img, .row .col-3-s:nth-child(3n) img { margin:0 10px 0 0; }
  .indent-1 { padding:0 0 20px; }
  .indent-2 { padding:30px 5px; }
  .kitchen-review { width:300px; }
  .kitchen-review:after { left:210px; }
  .btn3 {
    margin:30px 0 0;
    height:40px;
    line-height:40px;
    padding:0;
    font-size:12px;
    width:300px;
  }
  #nav-scroll { margin:-110px 0 0 170px; }
  .section-5 .kitchen-block-3 {
    height:auto;
    padding:25px 0 230px 15px;
  }
  .section-5 .kitchen-block-3 h2 {
    width:300px;
    font-size:25px;
    line-height:30px;
  }
  .section-5 .kitchen-block-3 li { width:240px; }
  .section-6 .kitchen-block-5 { padding:275px 10px 20px 20px; }
  .section-6 .kitchen-block-5 h2 {
    width:300px;
    font-size:25px;
    line-height:30px;
  }
  .kitchen-block-6 .btn3 {
    width:258px;
    padding:0;
  }
  .section-7 .kitchen-block-7 h2 {
    font-size:25px;
    width:auto;
    line-height:30px;
    margin:10px 22px 30px;
  }
  .section-7 .row {
    padding:30px 0 0 0;
    text-align:center;
    border-bottom:1px solid #e8e6e3;
  }
  .section-7 .row .col-2 {
    width:100%;
    clear:both;
    float:none;
    overflow:hidden;
    margin:0 auto 20px;
  }
  .section-7 .row img {
    display:block;
    width:140px;
    height:116px;
    float:none;
    margin:0 auto;
  }
  .section-7 .row h3 {
    width:160px;
    margin:10px auto;
    float:none;
  }
  .section-7 .row p {
    width:220px;
    float:none;
    margin:0 auto;
  }
  .section-7 .kitchen-block-8 .btn3 {
    margin:30px 0 0;
    height:40px;
    line-height:40px;
    padding:0;
    font-size:12px;
    width:250px;
  }
  .section-8 .video-review-block {
    padding-bottom:30px;
    width:320px;
  }
  .section-8 .video-review-block .video-block-small, .section-8 .video-review-block .video-block-small iframe, .section-8 .video-review-block .kitchen-review-small { width:320px !important; }
  .section-8 .video-review-block .btn3 { margin-left:14px; }
  .section-9 .kitchen-block-9 { padding:25px 0 58px; }
  .section-9 .kitchen-block-9 h2 {
    font-size:25px;
    line-height:30px;
  }
  .section-9 .kitchen-block-9 .btn3 {
    margin:30px 0 0;
    height:40px;
    line-height:40px;
    padding:0;
    font-size:12px;
    width:300px;
  }
  .section-11 .about-company li { float:none; }
  #pwebcontact110_box input[type="text"], #pwebcontact110_box input[type="email"] {
    width:280px;
    margin-left:20px;
  }
  #pwebcontact110_box .pweb-field-buttons .btn2 {
    height:46px;
    font-size:14px;
    width:320px;
  }
  .section-12 .contacts li, .section-12 .contacts .icon-3 { margin:25px 0 0 20px; }
  .section-12 .contacts h2 {
    font-size:28px;
    line-height:30px;
    margin:0;
  }
  #pwebcontact110_box .pweb-field-message { width:300px; }
  .section-12 .custom > ymaps, .section-12 .row .callback + .col-2 {
    width:320px !important;
    height:320px !important;
  }
  #copyright .copyright-info { width:320px; }
  .pwebcontact-box.pweb-modal { max-width:310px !important; }
  div .pwebcontact-box.pweb-modal .pwebcontact-container { padding:5px; }
  .pwebcontact-container .pweb-field-container { width:300px; }
  div .pweb-modal .pweb-button-close {
    right:15px;
    top:15px;
  }
}
