@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,cyrillic);

@baseFont: 'Exo 2';

body {
  margin: 0;
  padding: 0;
  font-family: @baseFont;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
h1, h2, h3, h4 {
  font-weight: 700;
  color: #333333;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.clr {
  clear: both;
}
.p-light {
  color: #4e5256;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  margin: 0;

  b {
    font-weight: 700;
    color: #333;
  }
}
.p-light-s {
  color: #4e5256;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  b {
    font-weight: 700;
    color: #333;
  }
}
.h2-title {
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 30px;
}


#header, #main-banner, #catalog, .questions-block {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

//Header
#header {
  height: 135px;
  overflow: hidden;

  .logo {
    display: block;
    float: left;
    margin: 39px 0 0;
  }
  .header-info {
    float: right;
    margin-top: 14px;

    & > div {
      float: left;
      min-height: 80px;
      font-weight: 300;
      font-size: 14px;
      color: #4e5256;
      line-height: 18px;

      span {
        font-weight: 700;
        color: #191818;
      }
      a {
        color: #3274c3;
        border-bottom: 1px dotted #3274c3;
      }
    }
    .header-guarantee {
      margin: 20px 160px 0 0;
      padding-left: 60px;
      background: url("../images/header_sprite.png") no-repeat 0 0;
    }
    .header-manufacturer {
      margin: 20px 180px 0 0;
      padding-left: 75px;
      background: url("../images/header_sprite.png") no-repeat 0 -100px;
    }
    .header-phone {
      margin: 20px 0 0;
      padding-left: 70px;
      background: url("../images/header_sprite.png") no-repeat 0 -200px;
      span {
        font-size: 25px;
      }
    }
  }
}

//Banner
#main-banner {
  .banner-wrap {
    width: 1130px;
    float: left;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
    .banner-info {
      position: absolute;
      top: 145px;
      left: 6.5%;
      font-size: 42px;
      line-height: 55px;
      color: #333333;
      font-weight: normal;

      span {
        font-weight: 700;
      }
      .banner-button {
        display: block;
        height: 63px;
        line-height: 63px;
        margin-top: 35px;
        padding: 0 0 0 24px;
        font-size: 22px;
        font-weight: 500;
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0 2px 5px -2px #215c70;
        background: linear-gradient(to bottom, #4a8ad7,#3577c7);

        i {
          display: inline-block;
          width: 53px;
          height: 63px;
          float: right;
          margin-left: 6px;
          background: url("../images/banner_button_arrow.png") no-repeat center 16px, linear-gradient(to bottom, #4e9ce4,#398bd9);
        }
      }
    }
  }
  .banner-action {
    position: relative;
    width: 230px;
    float: left;
    height: 666px;
    margin-left: 40px;
    background: url("../images/bg_action.jpg") no-repeat center bottom;

    .banner-action-icon {
      position: absolute;
      top: -25px;
      right: -24px;
      width: 72px;
      height: 53px;
      padding: 24px 0 0;
      text-align: center;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      background: url("../images/bg_action_icon.png") no-repeat;
    }
    .banner-action-date {
      margin: 35px 0 28px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.5px;
      color: #333333;
      line-height: 24px;
      text-transform: uppercase;

      span {
        font-size: 28px;
        color: #ec4444;
        line-height: 30px;
      }
    }
    & > span {
      display: block;
      font-size: 18px;
      text-align: center;
      color: #333333;
      padding: 32px 0 0;
      line-height: 18px;
      margin-bottom: 23px;
      background: url("../images/action_sprite.png") no-repeat center 0;
    }
    .banner-action-design {
      background-position: center -58px;
    }
    .banner-action-delivery {
      background-position: center -115px;
    }
    .banner-action-install {
      background-position: center -170px;
    }
  }
}

//Catalog
.title-catalog h2 {
  margin: 80px 0 50px;
  font-size: 50px;
}
.catalog-products {
  margin-left: 140px;
  padding-bottom: 50px;
  padding-left: 39px;
  float: left;
  border-left: 1px solid #e9e7e5;

  &:last-child {
    margin-bottom: 50px;
    padding-bottom: 0;
  }

  h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 48px;
    margin: 0 0 15px;
    border-top: 1px dotted #bdb9b3;
    border-bottom: 1px dotted #bdb9b3;

    span {
      display: inline-block;
      float: right;
      color: #929ba3;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
    }
  }
  .block-item {
    float: left;
    width: 283px;
    margin: 35px 29px 0 0;
    text-align: center;
    position: relative;

    &:nth-child(4n) {
      margin: 35px 0 0 0;
    }
    .product_label {
      position: absolute;
      width: 61px;
      height: 61px;
      top: -10px;
      right: -25px;
      z-index: 2;

      img {
        width: 61px;
        height: 61px;
      }
    }
    .jshop_img {
      width: 100%;
      height: auto;
      display: block;
      cursor: pointer;
    }
    .name {
      padding: 9px 0 0;

      a {
        color: #3274c3;
        font-size: 18px;
        font-weight: 300;
        border-bottom: 1px solid #c8deed;
      }
    }
    .description {
      font-size: 14px;
      padding-top: 3px;
      color: #333333;
      font-weight: 500;
    }
  }
}

.catalog-categories {
  position: absolute;
  top: 110px;
  left: 0;

  &.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -700px;
  }

  .catalog-category {
    width: 120px;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #e9e7e5;
    border-bottom: 1px solid #e9e7e5;
    font-size: 14px;
    font-weight: 500;

    &:first-child {
      border-top: 1px solid #e9e7e5;
    }
    &.active {
      position: relative;
      width: 116px;
      padding: 18px 10px;
      border: 3px solid #f36f21;
      box-shadow: 0 5px 5px 0 #e8e6e3;
      background: #f7f7f6;

      &:after {
        content: '';
        display: block;
        width: 15px;
        height: 29px;
        position: absolute;
        top: 50%;
        right: -15px;
        margin-top: -14px;
        z-index: 2;
        background: url("../images/bg_active_category.png") no-repeat;
      }

      .catalog-category-name {
        font-weight: 500;
        color: #333333;
        border-bottom: none;
      }
      .catalog-category-desc {
        color: #f36f21;
      }
    }
    img {
      display: inline-block;
      margin-bottom: 10px;
    }
    .catalog-category-name {
      font-weight: 300;
      color: #3274c3;
      border-bottom: 1px dotted #3274c3;
    }
    .catalog-category-desc {
      display: inline-block;
      margin-top: 3px;
    }
  }
}

//Scroll navigation
#nav-scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 750px;
  z-index: 100;

  a {
    display: block;
    margin: 9px 0;
    width: 5px;
    height: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 2.5px;
    background: #4e5256;
  }
  a.active {
    margin: 6px 0 6px -3px;
    padding: 2px;
    border-radius: 6.5px;
    border: 1px solid #f36f21;
    background: transparent;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 5px;
      height: 5px;
      border-radius: 2.5px;
      background: #f36f21;
    }
  }
}

//Middle block
.middle-block {
  background: #f9fafa;
  section {
    width: 1400px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 20px 40px 0 #e8e6e3;
  }
}
.questions-block {
  height: 403px;
  background: url("../images/bg_bubble_questions.png") no-repeat 139px 43px;

  .question-manager {
    position: absolute;
    top: -21px;
    left: 50%;
    margin-left: -280px;
    width: 261px;
    height: 425px;
    z-index: 20;
    background: url("../images/bg_manager.png") no-repeat;

    span {
      display: block;
      position: absolute;
      top: 303px;
      right: -182px;
      font-size: 15px;
      font-weight: 300;
      font-style: italic;
      line-height: 22px;
      color: #929ba3;
    }
  }
  .question-bubble {
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -70px;
    width: 280px;
    padding: 30px;
    border: 3px solid #f36f21;
    border-radius: 3px;
    text-align: center;
    z-index: 1;
    background: #ffffff;

    &:after {
      content: '';
      display: block;
      width: 77px;
      height: 39px;
      position: absolute;
      bottom: -39px;
      left: 61px;
      background: url("../images/bg_talk_bubble.png") no-repeat;
    }

    h4 {
      font-size: 20px;
      margin: 0 0 20px;
      line-height: 16px;
    }
    p {
      .p-light
    }
    .btn2 {
      margin: 20px auto 0;
    }
  }
}
.btn2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 15px 17px;
  border-radius: 3px;
  background: #3d81d2;

  &:active {
    top: 1px;
    left: 1px;
  }
}
.btn3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  border-radius: 3px;
  background: #3d81d2;
  margin: 62px 0 0;
  height: 60px;
  line-height: 60px;
  padding: 0 50px;
  font-size: 20px;

  &:active {
    top: 1px;
    left: 1px;
  }
}

.indent-1 {
  padding: 0 90px 20px;
}
.indent-2 {
  padding: 70px 90px 30px;
}
.indent-3 {
  padding: 75px 30px 55px;
}

.row {
  overflow: hidden;

  .col-2 {
    width: 50%;
    float: left;
  }
  .col-3-l {
    width: 360px;
    float: left;
    margin: 0 0 40px 65px;

    img {
      display: block;
      width: 140px;
      height: 116px;
      float: left;
      margin: 0 20px 0 0;
    }
    h3 {
      width: 200px;
      font-size: 20px;
      margin: 0 0 12px;
      float: left;
    }
    p {
      width: 170px;
      float: left;
      .p-light-s
    }
  }
  .col-3-s {
    width: 325px;
    float: left;
    margin: 0 110px 40px 0;

    &:nth-child(3n) {
      margin: 0 0 40px 0;
    }
  }
  .col-4 {
    float: left;
    width: 280px;
    margin: 0 33px 50px 0;

    &:nth-child(4n){
      margin: 0 0 50px 1px;
    }
    img {
      display: block;
      width: 280px;
      height: 250px;
    }
    h3 {
      margin: 15px 0 10px;
      font-size: 16px;
    }
    p {.p-light-s}
  }
}

.info-block {
  padding: 108px 120px 0 85px;

  h2 {
    margin: 0 0 25px !important;
    .h2-title
  }
  p {
    padding-right: 70px;
    .p-light
  }
}
.section-3 {

  .row:first-child {
    border-bottom: 1px solid #e8e6e3;
  }
  .col-2 {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.kitchen-block-1 {
  text-align: center;
  padding: 0 0 125px;
  background: url("../images/bg_kitchen_1.jpg") no-repeat left bottom;
}
.kitchen-review {
  width: 480px;
  margin: 0 auto;
  padding: 35px 100px 0;
  position: relative;
  border-top: 1px solid #e8e6e3;
  border-bottom: 1px solid #e8e6e3;
  text-align: center;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -22px;
    left: 400px;
    width: 31px;
    height: 22px;
    background: url("../images/bg_review_bublle.jpg") no-repeat;
  }
  .kitchen-review-avatar {
    display: block;
    position: absolute;
    top: -51px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    border-radius: 40px;
    z-index: 2;
  }
  .kitchen-review-text {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #929ba3;
    line-height: 22px;
    margin: 0 0 10px;
  }
  .kitchen-review-name, .kitchen-review-city {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #f36f21;
    line-height: 22px;
  }
  .kitchen-review-city {
    color: #333333;
    margin-bottom: 22px;
  }
}

.section-4 {
  .video-block {
    height: 573px;
    background: url("../images/bg_video.jpg") no-repeat;
    background-size: 100% auto;

    #video-frame {
      display: none;
    }

    #play-button {
      display: block;
      margin: 168px auto 0;
      width: 208px;
      height: 208px;
      cursor: pointer;
      background: url("../images/play_button.png") no-repeat center;
    }
    .info-block {
      padding: 140px 130px 50px 110px;

      h2, p {
        color: #ffffff;
      }
    }
  }

  .col-3-s {
    img {
      display: block;
      width: 120px;
      height: 100px;
      float: left;
      margin: 0 24px 0 0;
    }
    h4 {
      font-size: 16px;
      margin: 0 0 10px;
      float: left;
      border-bottom: 1px dotted #333333;
    }
    p {
      width: 180px;
      float: left;
      .p-light-s
    }
  }
  .kitchen-block-2 {
    height: 306px;
    padding: 89px 0 78px;
    text-align: center;
    background: url("../images/bg_kitchen_2.jpg") no-repeat;
    background-size: 100% auto;

    .kitchen-review {
      border-top: 1px solid #928983;
      border-bottom: 1px solid #928983;
      
      &:after {
        left: 244px;
        background: url("../images/bg_review_bublle_2.jpg") no-repeat;
      }
      .kitchen-review-text, .kitchen-review-city {
        color: #ffffff;
      }
    }
  }
}

.section-5 {
  .kitchen-block-3 {
    height: 600px;
    padding: 83px 0 0 90px;
    background: url("../images/bg_kitchen_3.jpg") no-repeat center;
    background-size: 100% auto;

    h2 {
      width: 500px;
      color: #191818;
      .h2-title
    }
    li {
      width: 310px;
      padding: 5px 0 5px 60px;
      margin: 0 0 25px 0 !important;
      background: url("../images/sprite_kitchen_3.png") no-repeat 2px 7px;
      .p-light
    }
    .icon-2 {
      background-position: 2px -62px;
    }
    .icon-3 {
      background-position: 2px -130px;
    }
    .icon-4 {
      background-position: 2px -198px;
    }
  }

  .kitchen-block-4 {
    padding: 105px 0 80px 0;
    text-align: center;
    background: url("../images/bg_kitchen_4.jpg") no-repeat center bottom;
    background-size: 100% auto;
  }
}
.section-6 {
  .kitchen-block-5 {
    height: 500px;
    padding: 140px 0 0 815px;
    background: url("../images/bg_kitchen_5.jpg") no-repeat center;
    background-size: 100% auto;

    h2 {
      width: 500px;
      color: #ffffff;
      .h2-title
    }
    p {
      width: 450px;
      color: #ffffff!important;
      .p-light
    }
  }
  .kitchen-block-6 {
    padding: 12px 0 106px 0;
    text-align: center;
    background: url("../images/bg_kitchen_6.jpg") no-repeat center bottom;
    background-size: 100% auto;
  }
}

.section-7 {
  .kitchen-block-7 {
    height: 477px;
    padding: 95px 0 0 90px;
    border-bottom: 1px solid #e8e6e3;
    background: url("../images/bg_kitchen_7.jpg") no-repeat center;
    background-size: 100% auto;

    h2{
      width: 400px;
      .h2-title
    }
  }
  li {
    padding: 5px 0 5px 50px;
    margin: 0 0 14px 12px !important;
    background: url("../images/sprite_kitchen_7.png") no-repeat 0 3px;
    .p-light
  }
  .icon-2 {
    background-position: 0 -37px;
  }
  .icon-3 {
    background-position: 0 -90px;
  }
  .icon-4 {
    background-position: 0 -140px;
  }
  .icon-5 {
    background-position: 0 -180px;
  }
  .icon-6 {
    background-position: 0 -230px;
  }
  .row {
    padding: 75px 100px 105px 160px;
    background: #f8f8f8;

    img {
      display: block;
      width: 140px;
      height: 116px;
      float: left;
      margin: 0 20px 0 0;
    }
    h3 {
      font-size: 20px;
      margin: 0 0 12px;
      float: left;
    }
    p {
      width: 340px;
      float: left;
      .p-light-s
    }
  }
  .kitchen-block-8 {
    padding: 12px 0 110px 0;
    text-align: center;
    background: url("../images/bg_kitchen_8.jpg") no-repeat center bottom;
    background-size: auto 100%;

    .kitchen-review:after {
      background: url("../images/bg_review_bublle_3.jpg") no-repeat;;
    }
  }
}
.section-8 {
  h2 {
    padding: 100px 0 60px;
    text-align: center;
    .h2-title;
    margin: 0;
  }
  .video-review-block {
    width: 680px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 108px;

    .video-block-small {
      width: 340px;
      height: 246px;
      float: left;
      margin: 0 35px 45px 0;
      background: url("../images/bg_video_review.jpg") no-repeat center;

      #play-button-small {
        display: block;
        width: 82px;
        height: 82px;
        margin: 80px auto;
        cursor: pointer;
        background: url("../images/play_button_small.png") no-repeat;
      }
      #video-frame-small {
        display: none;
      }
    }
    .kitchen-review-small {
      float: left;
      width: 305px;
      padding-top: 12px;
      .kitchen-review-text {
        position: relative;
        padding: 28px 33px;
        border-top: 1px solid #eae8e5;
        border-bottom: 1px solid #eae8e5;
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        line-height: 22px;
        color: #929ba3;
        margin: 0 0 30px;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -22px;
          left: 140px;
          width: 31px;
          height: 22px;
          background: url("../images/bg_review_bublle_4.jpg") no-repeat
        }
      }
    }
    .kitchen-review-name, .kitchen-review-city {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: #f36f21;
      line-height: 22px;
      margin-left: 35px;
    }
    .kitchen-review-city {
      color: #333333;
      margin-bottom: 22px;
    }
    .btn3 {
      margin: 0 0 0 95px;
    }
  }
}

.section-9 {
  .kitchen-block-9 {
    text-align: center;
    padding: 105px 0 103px;
    background: url("../images/bg_kitchen_9.jpg") no-repeat center;
    background-size: 100% auto;

    h2 {
      width: 640px;
      .h2-title;
      margin: 0 auto 95px;
      color: #ffffff;
    }
    ul {
      float: left;
      margin: 0 0 60px 60px;
    }
    li {
      float: left;
      position: relative;
      width: 189px;
      .p-light-s;
      color: #ffffff;
      margin: 0 28px;
      padding: 120px 0 0;
      background: url("../images/sprite_kitchen_9.png") no-repeat 55px 0;
      
      &:nth-child(3n):after, &:first-child:after {
        content: '';
        display: block;
        width: 134px;
        height: 29px;
        position: absolute;
        top: -15px;
        right: -95px;
        background: url("../images/arrow_top.png");
      }
      &:nth-child(2n):after {
        content: '';
        display: block;
        width: 134px;
        height: 29px;
        position: absolute;
        top: 70px;
        right: -91px;
        background: url("../images/arrow_bottom.png");
      }
    }
    .icon-2 {
      background-position: -195px 0;
    }
    .icon-3 {
      background-position: -440px 0;
    }
    .icon-4 {
       background-position: -685px 0;
    }
    .icon-5 {
      background-position: -935px 0;
    }
    .block-9-info {
      width: 250px;
      margin: 0 auto 35px;
      font-size: 14px;
      font-style: italic;
      line-height: 20px;
      color: #ffffff;
    }
    .btn3 {
      margin: 0;
      padding: 0 20px;
    }
  }
}

.section-10 {
  .row {
    border-bottom: 1px solid #e8e6e3;

    img {
      display: block;
    }
  }
  .info-block p {
    padding-right: 0;
  }
  .kitchen-block-10 {
    padding: 90px 0 110px;
    text-align: center;
    background: url("../images/bg_kitchen_10.jpg") no-repeat right bottom;
  }
}

.section-11 {
  .kitchen-block-11 {
    padding: 109px 0 121px;
    text-align: center;
    background: url("../images/bg_kitchen_11.jpg") no-repeat center;
    background-size: 100% auto;

    h2 {
      .h2-title;
      color: #ffffff;
      margin: 0 0 70px;
    }
    li {
      display: inline-block;
      width: 280px;
      padding: 115px 40px 8px;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
      background: url("../images/sprite_kitchen_11.png") no-repeat 132px 0;
    }
    .icon-2 {
      background-position: -228px 0;
    }
    .icon-3 {
      background-position: -588px 0;
    }
  }
  .video-company {
    border-bottom: 1px solid #e8e6e3;

    img, iframe {
      display: block;
    }
    .col-2 {
      position: relative;
    }
    #video-frame-2 {
      display: none;
    }
    #play-button-2 {
      display: block;
      width: 208px;
      height: 208px;
      cursor: pointer;
      position: absolute;
      top: 168px;
      left: 50%;
      margin-left: -104px;
      background: url("../images/play_button.png") no-repeat center;
    }
    .info-block {
      padding: 140px 120px 0 90px;
      h3 {
        margin: 30px 0 10px;
        font-size: 20px;
      }
      p {
        .p-light-s;
        padding-right: 75px;
      }
    }
  }
  .about-company {
    text-align: center;
    padding: 52px 0 70px;

    li {
      display: inline-block;
      width: 323px;
      padding: 175px 0 0;
      font-size: 15px;
      color: #929ba3;
      background: url("../images/sprite_about_us.png") no-repeat 87px 0;

      span {
        display: block;
        font-size: 35px;
        line-height: 30px;
        color: #333333;
        padding: 7px 0 12px;
      }
      a {
        color: #3274c3;
        border-bottom: 1px dotted #3274c3;
      }
    }
    .icon-2 {
      background-position: -236px 0;
    }
    .icon-3 {
      background-position: -559px 0;
    }
    .icon-4 {
      background-position: -882px 0;
    }
  }
}

.section-12 {
  .contacts {
    text-align: center;
    padding: 80px 0 75px;
    background: #f8f8f8;

    h2 {
      .h2-title;
    }
    li {
      display: inline-block;
      margin: 25px 160px 0 0;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: #616874;
      text-align: left;
      padding: 0 0 0 65px;
      background: url("../images/sprite_contacts.png") no-repeat 0 10px;

      a {
        color: #3274c3;
        border-bottom: 1px solid #3274c3;
      }
    }
    .icon-2 {
      background-position: -436px 10px;
    }
    .icon-3 {
      margin: 25px 30px 0 0;
      padding: 0 0 0 50px;
      background-position: -783px 10px;
    }
  }
}
#pwebcontact110_box {
  margin: 0 auto;
  .pwebcontact-container {
    padding: 50px 0 0;
  }
  p {
    .p-light-s;
    margin: 0 0 17px;
  }
  input[type="text"], input[type="email"] {
    font-size: 14px;
    font-style: italic;
    color: #333333;
    padding-left: 10px;
  }
  .pweb-field-message {
    width: 500px;
    margin: 0 auto 21px;

    textarea {
      padding: 12px 20px 0;
      font-size: 14px;
      font-style: italic;
      color: #333333;
      text-align: center;
    }
  }
  .pweb-field-name, .pweb-field-email_5 {
    width: 245px;
    float: left;
    margin: 0 0 24px;
  }
  .pweb-field-name {
    margin-right: 10px;
  }
  .pweb-field-buttons {
    width: 180px;

    .btn2 {
      height: 46px;
      font-size: 16px;
    }
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #929ba3;
  }
  :-moz-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #929ba3;
  }
}

#copyright {
  min-width: 1400px;
  height: 126px;
  background: #333333;

  .copyright-info {
    width: 1260px;
    margin: 0 auto;
    padding: 40px 50px 0 90px;
    overflow: hidden;

    span {
      display: inline-block;
      float: left;
      color: #929ba3;
      font-size: 14px;
      font-weight: 300;
      margin: 18px 0 0;
    }
    .btn2 {
      float: right;
      font-size: 14px;
      font-weight: 300;
    }
  }
}


//form order
div.pwebcontact-box.pweb-modal.pweb-radius .pwebcontact-container {
  border-radius: 0;
  border: 1px solid #e8e6e3;
  -moz-box-shadow: 0 0 30px 10px #929ba3;
  -webkit-box-shadow: 0 30px 10px #929ba3;
  box-shadow: 0 0 30px 10px #929ba3;
}
.pweb-field-subject, #pwebcontact98, #pwebcontact99, #pwebcontact100, #pwebcontact112, #pwebcontact113 {
  display: none;
}
div .pweb-modal .pweb-button-close {
  right: 23px;
  top: 23px;
  padding: 23px 0 0 23px !important;
  background: url("../images/bg_close.png") no-repeat 0 0 !important;
}
.pwebcontact-container {
  .pweb-field-container {
    width: 320px;
    margin: 0 auto 20px;
    &.pweb-separator-text {
      line-height: 24px;
      text-align: center;
      h3 {
        font-size: 20px;
        margin: 30px 0 15px;
      }
    }
  }
}
div .pweb-form-blue form.pwebcontact-form input.pweb-input, div .pweb-form-blue form.pwebcontact-form textarea {
  border: 1px solid #d9d7d4;
  border-radius: 0;
  width: 100%;
  height: 35px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div .pweb-form-blue form.pwebcontact-form textarea {
  height: 98px;
}
*::-webkit-input-placeholder {font-family: @baseFont; .p-light-s}
*:-moz-placeholder {font-family: @baseFont; .p-light-s}

.form-privacy-policy {
  padding-left: 34px;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 16px;
  color: #929ba3;
  text-align: left;
  background: url("../images/bg_privacy_policy.png") no-repeat 0 0;
}
form.pwebcontact-form .pweb-field-buttons button {
  display: block;
  width: 100%;
  height: 63px;
  padding: 0;
  border: none;
  font-size: 20px;
  font-family: @baseFont;
  border-radius: 3px !important;
}
.callback-link {
  cursor: pointer;
}
html body.pweb-modal-open {
  overflow: auto;
}
div.pwebcontact-modal.modal {
  overflow-y: auto;
}

body form.pwebcontact-form input.pweb-input:focus,
body form.pwebcontact-form select:focus,
body form.pwebcontact-form textarea:focus {
  border: 1px solid #f36f21;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


//thanks page
.thanks-page {
  position: relative;
  background: url("../images/bg_thank_page.jpg") no-repeat center;
  background-size: 100% auto;
  
  .thanks-block {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -240px 0 0 -360px;
    width: 720px;
    height: 480px;
    background: #ffffff;

    .logo {
      display: inline-block;
      margin: 40px 450px 0 46px;
    }
    .manager {
      position: absolute;
      left: 40px;
      bottom: 0;
      width: 245px;
      height: 368px;
      background: url("../images/bg_manager2.png") no-repeat center top;
      background-size: 100% auto;

      .manager-name {
        display: inline-block;
        position: absolute;
        bottom: 52px;
        right: -148px;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        line-height: 22px;
        color: #929ba3;
      }
    }
    .thanks-info {
      width: 280px;
      margin: 17px 0 0 380px;

      h3 {
        margin: 0 0 15px;
        font-size: 25px;
      }
      p {
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        color: #4e5256;
        margin: 0 0 20px;

        b {
          font-weight: 700;
          color: #333333;
        }
        span, a {
          font-weight: 700;
          color: #f26f21;
        }
      }
    }
  }
}

@import 'adaptive';
